{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h2 class="mb-3">Team: {{ team.team_name }}</h2>
        {% if not team.is_finalized %}
        <p>To invite new team members, send them this link: <a href="{{ invite_link }}">{{ invite_link }}</a>. They will need to log in with their own account.</p>
        {% endif %}
        {% if team.coach %}
        <h2 class="mb-3">Coach: {{ team.coach }}</h2>
        {% endif %}

        <h2>Members <span {% if too_large %}class="text-danger"{% endif %}>({{ team.mathletes.all|length }}/{{ team.contest.max_team_size }})</span></h2>
        {% if team.mathletes.all %}
            <ol>
            {% for mathlete in team.mathletes.all %} 
                <li>
                    {{ mathlete.user.name }}
                </li>
            {% endfor %}
            </ol>
        {% else %}
            <p>No team members yet</p>
        {% endif %}

        {% if too_large %}
        <p>You have too many members!</p>
        {% endif %}

        {% if team.is_finalized %}
            <h2>Finalized: <span class="text-success">Yes</span></h2>
        {% else %}
            <h2>Finalized: <span class="text-danger">No</span></h2>

            {% if not team.coach or user == team.coach %}
            <p class="mb-4">All teams will be finalized on <span class="font-weight-bold">January 16th, 2021</span><!-- this date is hardcoded -->. You will no longer be able to invite new members or edit your team after that point.</p>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                {% if user.is_mathlete %}
                    <button type="submit" name="submit" class="btn btn-danger mr-3" value="leaveTeam">Leave Team</button>
                {% else %}
                    <button type="submit" name="submit" class="btn btn-danger mr-3" value="deleteTeam">Delete Team</button>
                {% endif %}
            </form>
        {% endif %}
  </div>
</div>

{% endblock %}

