{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h2 class="mb-4">Team: {{ team.team_name }}</h2>
        {% if not team.is_finalized %}
        <p>To invite new team members, send them this link: <a href="{{ invite_link }}">{{ invite_link }}</a>. They will need to log in with their own account.</p>
        {% endif %}
        {% if team.coach %}
        <h2 class="mb-4">Coach: {{ team.coach }}</h2>
        {% endif %}

        <h2 class="mb-4">Members <span {% if too_large %}class="text-danger"{% endif %}>({{ team.mathletes.all|length }}/{{ team.contest.max_team_size }})</span></h2>
        {% if team.mathletes.all %}
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        {% if can_edit %}<th scope="col"></th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for mathlete in team.mathletes.all %} 
                    <tr>
                        <td class="align-middle">{{ mathlete.user.name }}</td>
                        <td class="align-middle">{{ mathlete.user.email }}</td>
                        {% if can_edit %}
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="removeMember" value="{{ mathlete.id }}" class="btn btn-danger btn-sm">Remove</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No team members yet</p>
        {% endif %}

        {% if too_large %}
        <p>You have too many members!</p>
        {% endif %}

        {% if team.is_finalized %}
        <p class="mb-4">Your team has been finalized, and can no longer be edited. If there was a mistake, please contact <a href="mailto:contact@cmimc.info">contact@cmimc.info</a>.</p>
        {% else %}
            <p class="mb-4">All teams will be automatically finalized on <span class="font-weight-bold">{{ team.contest.reg_deadline|date:"l, F j" }}</span>. You will no longer be able to invite new members or edit your team after that point.</p>

            {% if can_edit %}
            <form method="post">
                {% csrf_token %}
                    <button type="submit" name="deleteTeam" class="btn btn-danger mr-3">Delete Team</button>
            </form>
            {% endif %}
        {% endif %}
  </div>
</div>

{% endblock %}

