{% extends 'exam/exam_base.html' %}

{% block exam_content %}

<h1>My Submissions</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Time</th>
        <th scope="col">Problem</th>
        <th scope="col">Score</th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions%}
    <tr>
        <td scope="row">{{ submission.submit_time }}</td>
        <td scope="row">{{ submission.problem }}</td>
        <td scope="row">{{ submission.display_points }}</td>
        <td scope="row"><a href="{% url 'view_submission' submission.id %}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}
