{% extends 'exam/exam_base.html' %}

{% block exam_content %}

<h1 class="mb-4">Submission to <a href="{% url 'view_problem' exam.id submission.problem.problem_number %}">{{ submission.problem }}</a></h1>

<h4 class="mb-3">

{% if submission.status == 0 or submission.status == 1 %}
    Grading in progress. Refresh page to update.
{% elif submission.status == 2 or submission.status == 4 %}
    {% if submission.points %}
        Score: {{ submission.display_points }}
    {% else %}
        Invalid Submission! {{ submission.error_msg }}
    {% endif %}
{% elif submission.status == 3 %}
    The optimization grader encountered an error while grading your submission. Please notify the CMIMC organizers about this.
{% endif %}
</h4>

<pre class="mb-3" style="max-height: 30rem"><code class="language-none">{{ submission.text }}</pre></code>

<a href="{% url 'resubmit' submission.id %}" class="btn btn-primary">Resubmit</a>

{% endblock %}
