{% extends 'exam/exam_base.html' %}

{% block exam_content %}

<h1>{{ exam.name }}</h1>
<hr class="mb-3">

{% for p in problems %}
<h3>Problem {{ p.problem_number }}: {{ p.name }}</h3>
<div class="mb-4">{{ p.problem_text|safe }}</div>

<a href="{{ p.google_form_link }}" class="btn btn-primary mb-2" target="_blank">Submit Solutions Here</a>
<p>You will need this password when submitting: <span class="font-weight-bold">{{ password }}</span></p>

<hr style="margin-bottom: 2rem; margin-top: 2rem;">
{% endfor %}

{% endblock %}

