{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col" style="min-width: 0">
        {% block exam_content %}
        {% endblock %}
    </div>

    <div class="col-auto">
        {% include 'includes/exam_nav.html' with exam=exam %}
    </div>
</div>
{% endblock %}


{% block js %}

{% if exam.is_math %}
    {% include 'includes/timer.html' with secs_remaining=exam.time_remaining submit_secs_remaining=exam.time_until_submit_start %}
{% else %}
    {% include 'includes/timer.html' with secs_remaining=exam.time_remaining %}
{% endif %}

{% endblock %}

