{% extends 'exam/exam_base.html' %}

{% block exam_content %}
<h1 class="mb-4">{{ exam.name }} Leaderboard</h1>

<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
      <a class="nav-link no-color active" href="{% url 'leaderboard' exam.id %}">Overall</a>
  </li>
  {% for p in problems %}
  <li class="nav-item">
      <a class="nav-link no-color" href="{% url 'problem_leaderboard' exam.id p.problem_number %}">{{ p.name }}</a>
  </li>
  {% endfor %}
</ul>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Team</th>
        {% for p in problems %}
        <th scope="col">{{ p.name }}</th>
        {% endfor %}
        <th scope="col">Total Score</th>
    </tr>
    </thead>
    {% for comp in comp_info %}
        <tr>
            <td>{{ comp.name }}</td>
            {% for score in comp.scores %}
                <td>{{ score }}</td>
            {% endfor %}
            <td>{{ comp.total_score }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

