{% extends 'exam/exam_base.html' %}

{% block exam_content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Team</th>
        {% for task in tasks %}
        <th scope="col">Task {{ task.task_number }}
        {% endfor %}
        <th scope="col">Total Score</th>
    </tr>
    </thead>
    {% for comp in comp_info %}
        <tr>
            <td>{{ comp.name }}</td>
            {% for task_score in comp.scores %}
                <td>{{ task_score }}</td>
            {% endfor %}
            <td>{{ comp.total_score }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

