{% extends 'exam/exam_base.html' %}

{% block exam_content %}

<h1 class="mb-4"><a href="{% url 'view_problem' exam.id problem.id %}">{{ problem.name }}</a> Leaderboard</h1>

{% if exam.is_optimization %}
<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
      <a class="nav-link no-color" href="{% url 'leaderboard' exam.id %}">Overall</a>
  </li>
  {% for p in problems %}
  <li class="nav-item">
      <a class="nav-link no-color {% if p == problem %}active{% endif %}" href="{% url 'problem_leaderboard' exam.id p.problem_number %}">{{ p.name }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

<div class="btn-group mb-4" role="group" aria-label="Leaderboard Pages">
  {% for p in all_pages %}
    <a href="?page={{ p.number }}" class="btn btn-outline-dark {% if p.number == page_obj.number %}active{% endif %}">{{ p.start_index }} - {{ p.end_index }}</a>
  {% endfor %}
</div>


<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Team</th>
        {% for task in tasks %}
        <th scope="col" class="text-center" style="white-space: nowrap">Task {{ task.task_number }}
        {% endfor %}
        <th scope="col" class="text-center">Score</th>
    </tr>
    </thead>
    {% for s in page_obj %}
        <tr {% if s.competitor in rel_comps %}class="table-success"{% endif %}>
            <td style="word-wrap: break-word; max-width: 10rem;">{{ s.competitor.name }}</td>
            {% for task_score in s.taskscore_list %}
            <td class="text-center align-middle">{% if task_score.raw_points %}{{ task_score.display_raw }}{% endif %}</td>
            {% endfor %}
            <td class="text-center align-middle">{{ s.display_points }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

