{% extends 'exam/exam_base.html' %}

{% block exam_content %}
<h1>{{ problem.name }}</h1>
<div class="problem-text {% if exam.is_optimization %}mb-5{% endif %} language-none">
{{ problem.problem_text|safe }}
</div>

{% if exam.is_ai %}
<p>Download the starter file for {{ problem.name }} <a href="{% url 'ai_starter_file' aiprob.id %}">here</a></p>
<a href="{% url 'submit' exam.id problem.problem_number %}" class="btn btn-primary">Submit</a>
{% endif %}

{% if exam.is_optimization %}
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Input File</th>
      <th scope="col">Score</th>
      <th scope="col">Submit</th>
    </tr>
  </thead>
  <tbody>
  {% for ts in score.taskscores.all %}
    <tr>
      <th scope="row">{{ ts.task.task_number }}</th>
      <td><a href="{{ ts.task.input_file }}">Input {{ ts.task.task_number }}</a></td>
      <td>{{ ts.display_raw }}</td>
      <td><a href="{% url 'submit' exam.id problem.problem_number ts.task.task_number %}">Submit Task {{ ts.task.task_number }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}


{% endblock %}

