.myaccordion .myaccordion-item {
    border-bottom: 1px solid #ccc;
}
.myaccordion button[aria-expanded=true] {
    color: #b00;
    border-bottom: 1px solid #faa;
}
.myaccordion button:hover {
    color: red;
}
.myaccordion button:focus-visible {
    color: red;
}
.myaccordion button:-moz-focusring {
    color: red;
}
.myaccordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    font-size: 1.15rem;
    border: none;
    background: none;
    outline: none;
}


.myaccordion button[aria-expanded=true] + .myaccordion-content {
  opacity: 1;
}
.myaccordion .myaccordion-content {
  opacity: 1;
  overflow: hidden;
  transition: opacity .3s ease, height .3s ease;
}
.myaccordion .myaccordion-content p {
    margin: 2em 0;
}

/* Horizontal line */
.myaccordion button::before {
  content: '';
  width: 14px;
  height: 2px;
  background: currentColor;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s ease;
}

/* Vertical line */
.myaccordion button::after {
  content: '';
  width: 2px;
  height: 14px;
  background: currentColor;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s ease;
}

.myaccordion button[aria-expanded='true']::after {
  transform: rotate(90deg);
}

.myaccordion button[aria-expanded='true']::before {
  transform: rotate(180deg);
}

