body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.bg-darkred {
  background-color: #b00;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.85);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link.active {
  font-weight: 600;
}


/* Links (copied from CMU's CSS) */
a {
  color: #b00;
  border-bottom: 1px solid #faa;
  text-decoration: none;
  padding-bottom: 1px;
  transition: border-color .3s ease, color .3s ease;
}
a:visited {
 color: #800;
 border-bottom-color: #c99;
}
a:focus,
a:hover {
 color: red;
 border-bottom-color: red;
 text-decoration: none;
}
.navbar a:not(.btn) {
  border-bottom-color: transparent;
}


.logos img {
  max-width: 100%;
}
