.card {
    border-radius: 0.5rem;
}

.cardlink {
    border: none;
    box-shadow: 0 5px 10px 0 rgba(66,66,66,0.1),
                0 5px 30px -5px rgba(66,66,66,0.2);
    transition: 0.3s;
}

.cardlink:not(.no-hover):hover {
    box-shadow: 0 10px 20px 0 rgba(66,66,66,0.1),
                0 10px 40px 0 rgba(66,66,66,0.2);
}


body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.bg-darkred {
  background-color: #b00;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.85);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link.active {
  font-weight: 600;
}

.dropdown .dropdown-menu .dropdown-item:active {
    font-weight: 600;
}

.dropdown-menu li > a:hover {
  background-color: dropdown-link-active-bg;
  color: dropdown-link-active-color;
}

.dropdown-menu li > a:focus {
  background-color: #b00;
  color: white;
}

.dropdown-menu li > .active {
  background-color: #b00;
  color: white;
}

/* Links (copied from CMU's CSS) */
a:not(.btn):not(.no-color) {
  color: #b00;
  border-bottom: 1px solid #faa;
  text-decoration: none;
  padding-bottom: 1px;
  transition: border-color .3s ease, color .3s ease;
}
a:visited:not(.btn):not(.no-color) {
 color: #800;
 border-bottom-color: #c99;
}
a:focus:not(.btn):not(.no-color),
a:hover:not(.btn):not(.no-color) {
 color: red;
 border-bottom-color: red;
 text-decoration: none;
}
.navbar a:not(.btn):not(.no-color) {
  border-bottom-color: transparent;
}


.logos img {
  max-width: 100%;
}


.problem-text hr {
  margin-top: 0.5rem;
}


.sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 3rem;
}


.nav-list {
  list-style: none;
  padding: 0;
}
.nav-list li a {
  display: block;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  padding: 5px 40px 6px 10px;
  border: 1px solid transparent;
  margin-bottom: 4px;
}
.nav-list li a:hover {
  background-color: #ebf6fd;
  border: 1px solid #dcf0fb;
}
.nav-list li a.active {
  background-color: #2d9ee0;
  color: #fff;
  padding: 3px 50px 4px 10px;
  border: 1px solid transparent;
  font-weight: 700;
}


/* for prismjs */
.token.operator {
  background: none;
}


.hide-asterisk .asteriskField {
  display: none;
}
