{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class = "col">
    <h1>Submit To {{ problem.name }} - Task {{ task.task_number }}</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="codeText">Your Submission</label>
        <textarea class="form-control" name="codeText">{{ text }}</textarea>
      </div>
      <div class="form-group">
        <label for="codeFile">Upload File</label>
        <input type="file" class="form-control-file" name="codeFile">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class = "col-auto">
    {% include 'includes/exam_nav.html' with exam=problem.exam %}
  </div>
</div>
{% endblock %}
