<footer class="footer pt-5 pb-2 mt-5 bg-darkred text-white">
  <div class="container">
    <h3>Contact Us</h3>
    <p>If you have any questions about the contest, please feel free to:</p>
    <p>Email us at <a class="text-white" href="mailto:contact@cmimc.info">contact@cmimc.info</a> </p>
    <p>Message us on <a class="text-white" target="blank_" href="https://www.facebook.com/CMIMC/">Facebook</a> </p>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2020 CMIMC
  </div>
</footer>
