<div class="card cardlink mt-2 mb-5">
    <div class="card-body">
        <h1 class="card-title">Important Dates</h1>
        <p class="card-text">
            <span class="font-weight-bold">February 14</span></br>
            Math Contest Registration
        </p>
        <p class="card-text">
            <span class="font-weight-bold">February 23</span></br>
            Waiver Form Deadline
        </p>
        <p class="card-text">
            <span class="font-weight-bold">February 27</span></br>
            Math Contest!
        </p>
        <a href="{% url 'contest_list' %}" class="btn btn-primary stretched-link">Register Now</a>
    </div>
</div>

<div class="card cardlink no-hover">
    <div class="card-body">
      {% block content %}  
         
              <div class="container">
      
                <!--Simple Form-->
                <h2 class="my-4">Upload Waiver</h2>
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                      <input type="file" name="upload" accept=".doc, .docx, .pdf, .txt">
                      <br>
                      <button class="btn btn-dark my-4" type="submit">Submit</button>
                </form>
      
                <!--See File Uploaded-->
                <h2 class="my-4">Waiver</h2>
                <div class="row">
                  {% if uploaded_file_url %}
                  <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
                    <p>Uploaded to:<a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                    <a class="btn btn-dark my-4" href="/">Return to Homepage</a>
                  {% else %}
                  <p>No form added.</p>
                  {% endif %}
                </div>
      
              </div>
      {% endblock %}
    </div>
</div>
