<div class="card cardlink mt-2 mb-5">
    <div class="card-body">
        <h1 class="card-title">Important Dates</h1>
        <p class="card-text">Early Registration: January 3rd, 2021</p>
        <p class="card-text">Late Registration: January 16th, 2021</p>
        <p class="card-text">Contest Date: January 30th, 2021</p>
        <a href="{% url 'contest_list' %}" class="btn btn-primary stretched-link">Register Now</a>
    </div>
</div>

<div class="card cardlink no-hover">
    <div class="card-body">
        <h2 class="card-title">Forms to Complete</h2>
        <ol class="mb-1" style="padding-left: 20px;">
            <li>
                <p class="card-text">Fill out <a href="https://drive.google.com/uc?export=download&id=1wy1ndIDVC1luACAs0fBDsyghuigln5Gv">this waiver</a> and submit it via<br>
                <a href="https://forms.gle/Awz57gbNs9xdwLGS6" target='_blank' rel='noopener noreferrer'>this form</a> by January 16th.</p>
            </li>
            <li>
                <p class="card-text">To order a CMIMC Programming T-shirt,<br>
                fill out <a href="https://forms.gle/pm6cinqgHedWM7sd7" target='_blank' rel='noopener noreferrer'>this form</a> by January 3rd.</a>
            </li>
        </ol>
    </div>
</div>
