<div class="card cardlink mt-2 mb-5">
    <div class="card-body">
        <h1 class="card-title">Important Dates</h1>
        <p class="card-text">
            <span class="font-weight-bold">February 14</span></br>
            Math Contest Registration
        </p>
        <p class="card-text">
            <span class="font-weight-bold">February 23</span></br>
            Waiver Form Deadline
        </p>
        <p class="card-text">
            <span class="font-weight-bold">February 27</span></br>
            Math Contest!
        </p>
        <a href="{% url 'contest_list' %}" class="btn btn-primary stretched-link">Register Now</a>
    </div>
</div>

<div class="card cardlink no-hover">
    <div class="card-body">
        <h2 class="card-title">Forms to Complete</h2>
                <p class="card-text">Fill out <a href="https://drive.google.com/uc?export=download&id=1TmXiSWRIakw2X6WD7H8MaOACds16AD0D">this waiver</a> and submit it via<br>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScfpAsNWhReh-JsWDQ7M8k8490jzyC65cv5h4_R9YiQ-KzBng/viewform" target='_blank' rel='noopener noreferrer'>this form</a> before February 23rd.</p>
    </div>
</div>
