{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-darkred">
  <div class="container-lg">
	<a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/cmimc_logo_white.png' %}" alt="CMIMC Programming" height="30px" width="auto">
    </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="mainMenu">
	    {% url 'contest_list' as url_contests %}
	    {% url 'info' as url_info %}
        {% url 'sample_problems' as url_sample_problems %}
	    {% url 'schedule' as url_schedule %}
	    {% url 'reg_info' as url_reg_info %}
	    {% url 'faq' as url_faq %}
        {% url 'mini_events' as url_mini_events %}
	    {% url 'resources' as url_resources %}
		<ul class="navbar-nav mr-auto ml-md-3">
        {% if user.is_authenticated %}
	      <li class="nav-item">
			<a class="nav-link no-color {% if request.get_full_path == url_contests %}active{% endif %}" href="{% url 'contest_list' %}">Contests</a>
		  </li>
        {% endif %}
	      <li class="nav-item dropdown">
              <a class="nav-link no-color dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                Contest Info
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item no-color {% if request.get_full_path == url_info %}active{% endif %}" href="{% url 'info' %}">Rules</a></li>
                <li><a class="dropdown-item no-color {% if request.get_full_path == url_sample_problems %}active{% endif %}" href="{% url 'sample_problems' %}">Sample Problems</a></li>
              </ul>

		  </li>

          <li class="nav-item dropdown">
              <a class="nav-link no-color dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                Logistics
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item no-color {% if request.get_full_path == url_schedule %}active {% else %} no-color {% endif %}" href="{% url 'schedule' %}">Schedule</a></li>
                <li><a class="dropdown-item no-color {% if request.get_full_path == url_faq %}active{% endif %}" href="{% url 'faq' %}">FAQ</a></li>
                <li><a class="dropdown-item no-color {% if request.get_full_path == url_mini_events %}active{% endif %}" href="{% url 'mini_events' %}">Mini Events</a></li>
              </ul>

		  </li>
	      <li class="nav-item">
			<a class="nav-link no-color {% if request.get_full_path == url_reg_info %}active{% endif %}" href="{% url 'reg_info' %}">Registration</a>
		  </li>
          <li class="nav-item">
			<a class="nav-link no-color {% if request.get_full_path == url_resources %}active{% endif %}" href="{% url 'resources' %}">Resources</a>
		  </li>
		</ul>

      {% if user.is_authenticated %}
		<ul class="navbar-nav ml-auto">
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle active" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user }}</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
			  <a class="dropdown-item no-color" href="{% url 'change_password' %}">Change password</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item no-color" href="{% url 'logout' %}">Log out</a>
			</div>
		  </li>
		</ul>
	  {% else %}
		<form class="form-inline ml-auto">
		  <a href="{% url 'login' %}" class="btn btn-outline-light">Log in</a>
		  <a href="{% url 'signup' %}" class="btn btn-light ml-2">Sign up</a>
		</form>
	  {% endif %}
	</div>
  </div>
</nav>
