{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-darkred">
  <div class="container-lg">
	<a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/cmimc_logo_white.png' %}" alt="CMIMC Programming" height="30px" width="auto">
    </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="mainMenu">
      {% url 'contest_list' as url_contests %}
      {% url 'math_info' as mi %}
      {% url 'math_rules' as mr %}
      {% url 'math_sample_problems' as msp %}
	  {% url 'math_schedule' as ms %}
      {% url 'math_mini_events' as mme %}
      {% url 'prog_info' as pi %}
      {% url 'prog_sample_problems' as psp %}
	  {% url 'prog_schedule' as ps %}
	  {% url 'reg_info' as url_reg_info %}
	  {% url 'faq' as url_faq %}
      {% url 'prog_mini_events' as pme %}
	  {% url 'resources' as pr %}
	  {% url 'updates' as pu %}
      {% with path=request.get_full_path %}
	  <ul class="navbar-nav mr-auto ml-md-3">
      {% if user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link no-color {% if path == url_contests %}active{% endif %}" href="{% url 'contest_list' %}">Contests</a>
        </li>
      {% endif %}
      <li class="nav-item dropdown">
          <a class="nav-link no-color dropdown-toggle {% if path == mi or path == msp or path == ms or path == mme or path == mr %}active{% endif %}" href="#" id="mathDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
        Math
        </a>
        <ul class="dropdown-menu" aria-labelledby="mathDropdown">
        <li><a class="dropdown-item no-color {% if path == mi %}active{% endif %}" href="{{ mi }}">Format</a></li>
        <li><a class="dropdown-item no-color {% if path == mr %}active{% endif %}" href="{{ mr }}">Rules</a></li>
        <li><a class="dropdown-item no-color {% if path == msp %}active{% endif %}" href="{{ msp }}">Sample Problems</a></li>
        <li><a class="dropdown-item no-color {% if path == ms %}active{% endif %}" href="{{ ms }}">Schedule</a></li>
        <li><a class="dropdown-item no-color {% if path == mme %}active{% endif %}" href="{{ mme }}">Mini Events</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link no-color dropdown-toggle {% if path == pi or path == psp or path == ps or path == pme or path == pr or path == pu %}active{% endif %}" href="#" id="programmingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Programming
        </a>
        <ul class="dropdown-menu" aria-labelledby="programmingDropdown">
          <li><a class="dropdown-item no-color {% if path == pi %}active{% endif %}" href="{{ pi }}">Format</a></li>
          <li><a class="dropdown-item no-color {% if path == psp %}active{% endif %}" href="{{ psp }}">Sample Problems</a></li>
          <li><a class="dropdown-item no-color {% if path == ps %}active{% endif %}" href="{{ ps }}">Schedule</a></li>
          <li><a class="dropdown-item no-color {% if path == pme %}active{% endif %}" href="{{ pme }}">Mini Events</a></li>
          <li><a class="dropdown-item no-color {% if path == pr %}active{% endif %}" href="{{ pr }}">Resources</a></li>
          <li><a class="dropdown-item no-color {% if path == pu %}active{% endif %}" href="{{ pu }}">Updates</a></li>
        </ul>
      </li>

      <li class="nav-item">
          <a class="nav-link no-color {% if path == url_reg_info %}active{% endif %}" href="{% url 'reg_info' %}">Registration</a>
      </li>
      <li class="nav-item">
          <a class="nav-link no-color {% if path == url_faq %}active{% endif %}" href="{% url 'faq' %}">FAQ</a>
      </li>
		</ul>

      {% if user.is_authenticated %}
		<ul class="navbar-nav ml-auto">
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle active" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.short_name }}</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
			  <a class="dropdown-item no-color" href="{% url 'change_password' %}">Change password</a>
			  <div class="dropdown-divider"></div>
			  <a class="dropdown-item no-color" href="{% url 'logout' %}">Log out</a>
			</div>
		  </li>
		</ul>
	  {% else %}
		<form class="form-inline ml-auto">
		  <a href="{% url 'login' %}" class="btn btn-outline-light">Log in</a>
		  <a href="{% url 'signup' %}" class="btn btn-light ml-2">Register</a>
		</form>
	  {% endif %}
      {% endwith %}
	</div>
  </div>
</nav>
