<nav class="navbar navbar-expand{% if user.is_authenticated %}-md{% endif %} navbar-dark bg-dark">
  <div class="container-fluid">
	<a class="navbar-brand" href="{% url 'home' %}">CMIMC Online</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="mainMenu">
	    {% url 'contest_list' as url_contests %}
		<ul class="navbar-nav mr-auto ml-md-3">
	      <li class="nav-item">
			<a class="nav-link {% if request.get_full_path == url_contests %}active{% endif %}" href="{% url 'contest_list' %}">Contests</a>
		  </li>
		</ul>
	</div>
  </div>
</nav>
