<div class="btn-group-vertical">
    {% url 'exam_status' exam.id as all_problems %}
    <a href="{{ all_problems }}" class="btn btn-outline-primary {% if request.get_full_path == all_problems %}active{% endif %}" style="text-align: left">All Problems</a>
    {% for p in exam.problems.all %}
    {% url 'problem_info' exam.id p.problem_number as p_link %}
    <a href="{{ p_link }}" class="btn btn-outline-primary {% if request.get_full_path == p_link %}active{% endif %}" style="text-align: left">{{ p.problem_number }}. {{ p.name }}</a>
    {% endfor %}
</div>

