{% extends 'base.html' %}
{% load static %}

{% block content %}

<p class="display-4">Frequently Asked Questions</p>
<hr class="red_line"/>

<div class="row">
    <div class="col">

        <h2>General FAQ</h2>
        <div class="myaccordion mb-5">
            {% for item in glist %}
            <div class="myaccordion-item">
                <button aria-expanded="false" data-target="{{ item.id }}">
                    {{ item.question|safe }}
                </button>
                <div class="myaccordion-content" id="{{ item.id }}">
                    <p>{{ item.answer|safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <h2>Math Contest FAQ</h2>
        <div class="myaccordion mb-5">
            {% for item in mlist %}
            <div class="myaccordion-item">
                <button aria-expanded="false" data-target="{{ item.id }}">
                    {{ item.question|safe }}
                </button>
                <div class="myaccordion-content" id="{{ item.id }}">
                    <p>{{ item.answer|safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <h2>Programming Contest FAQ</h2>
        <div class="myaccordion mb-5">
            {% for item in plist %}
            <div class="myaccordion-item">
                <button aria-expanded="false" data-target="{{ item.id }}">
                    {{ item.question|safe }}
                </button>
                <div class="myaccordion-content" id="{{ item.id }}">
                    <p>{{ item.answer|safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-12 col-md-auto">
        {% include 'includes/important_dates.html' %}
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/accordion.js' %}"></script>
{% endblock %}
