{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="row justify-content-center mt-5 mb-5">
    <div class="col-sm-10 col-md-8 col-lg-6">
        <img src="{% static 'img/cmimc_logo.png' %}" alt="CMIMC logo" width="100%" height="auto" class="center">
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <h1 class="text-center mb-0" style="line-height: 1">Math Contest</h1>
        <p class="text-center" style="font-size: 1.5rem">February 27th, 2021</p>
    </div>
    <div class="col-sm-6">
        <h1 class="text-center mb-0" style="line-height: 1">Programming Contest</h1>
        <p class="text-center" style="font-size: 1.5rem">January 30th, 2021</p>
    </div>
</div>

<p class="display-4">Welcome!</p>
<hr class="red_line"/>
<div class="row mb-4">
    <div class="col">
        <p style="font-size: 1.1rem;">The Carnegie Mellon Informatics and Mathematics Competition (CMIMC) is an annual math and computer science competition held at Carnegie Mellon University by CMU students.</p>
    </div>
</div>

<h2>Announcements</h2>
<hr class="red_line"/>
<div class="row justify-content-center mb-4">
    <div class="col">
        <ul class="center">
            <li style="font-size: 1.1rem; padding-left: 1rem; padding-top: 0.5rem">
                The CMIMC 2021 Math Contest will be held entirely online due to COVID-19. Make sure to <a href="{% url 'reg_info' %}">register</a> by <span class="font-weight-bold">February 13th!</span>
            </li>
            <li style="font-size: 1.1rem; padding-left: 1rem; padding-top: 0.5rem">
                All math contest participants (and coaches) should join our <a href="https://join.slack.com/t/cmimcmath2021/shared_invite/zt-mcuveank-ThG8a0fEou5otCWjqxpvXQ" target="_blank" rel="noopener noreferrer">Slack</a>. We'll be using it to answer questions and send out announcements.
            </li>
            <li style="font-size: 1.1rem; padding-left: 1rem; padding-top: 0.5rem">
                Some of our emails are being marked as spam. If you haven't received any emails from {{ 'contact@cmimc.info'|urlize }} recently, please check your spam folder!
            </li>
        </ul>
    </div>
</div>


<h2>Sponsors</h2>
<hr class="red_line"/>

<div class="row logos">
    <div class="col d-flex mb-5">
        <img src="{% static 'img/citadel_logo.png' %}" alt="Citadel logo" width="700" class="m-auto">
    </div>
</div>

<div class="row logos">
    <div class="col-md-5 d-flex mb-5">
        <img src="{% static 'img/jane_street_logo.png' %}" alt="Jane Street logo" width="300" class="m-auto">
    </div>
    <div class="col-md-2 d-flex mb-5">
        <img src="{% static 'img/two_sigma_logo.png' %}" alt="Two Sigma logo" width="100" class="m-auto">
    </div>
    <div class="col-md-5 d-flex mb-5">
        <img src="{% static 'img/sig_logo.jpg' %}" alt="Sig logo" width="250" class="m-auto">
    </div>
</div>
<div class="row logos">
    <div class="col-md-6 d-flex mb-5">
        <img src="{% static 'img/de_shaw_logo.png' %}" alt="D. E. Shaw logo" width="300" class="m-auto">
    </div>
    <div class="col-md-6 d-flex mb-5">
        <img src="{% static 'img/imc_logo.png' %}" alt="IMC logo" width="250" class="m-auto">
    </div>
</div>

{% endblock %}

<div class="row justify-content-center mb-4">
    <div class="col-auto">
        <h1>Math and Programming Contests</h1>
    </div>
</div>


