{% extends 'base.html' %}

{% block content %}



<p class="display-4">Math Contest Sample Problems</p>
<hr class="red_line"/>
<h1>TCS Round (new!)</h1>
<h3>Problem Statement</h3>
<p>You have an $n \times n$ square grid of lightbulbs, where $n = 10^{10}$. Initially, each lightbulb is either on or off, chosen at random. On any <em>move</em>, you may select 3 lightbulbs which form an isosceles right triangle of minimal size on the grid (i.e. an L-shaped <a href"https://en.wikipedia.org/wiki/Tromino">tromino</a>), and flip the state of all 3 lightbulbs (so if they were on before, they will now be off, and vice versa). 

Find an algorithm that, in at most k1019 moves total, will allow you to turn off every lightbulb in the grid.
</p>

<h1>Other Rounds</h1>
<p>Team Round and Individual Round problems can be found in <a href="http://cmimc-official.herokuapp.com/archive">previous CMIMC contests</a>.</p>

{% endblock %}

