{% extends 'base.html' %}

{% block content %}
<p class="display-4">Math Contest Schedule</p>
<hr class="red_line"/>

<div class="row">
    <div class="col">
        <h2 class="mb-3">Saturday, February 27th, 2021</h2>
        <p>All times are in Eastern Standard Time (UTC -5).</p>
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Start</th>
                <th>End</th>
                <th>Event</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>10:15 AM</td>
                <td>10:45 AM</td>
                <td>Opening Ceremony</td>
              </tr>
              <tr>
                <td>10:45 AM</td>
                <td>10:50 AM</td>
                <td>Join your assigned Zoom meeting. Zoom links will be sent in <a href="https://join.slack.com/t/cmimcmath2021/shared_invite/zt-mcuveank-ThG8a0fEou5otCWjqxpvXQ" target="_blank" rel="noopener noreferrer">Slack</a>.</td>
              </tr>
              <tr>
                <td>11:15 AM</td>
                <td>12:45 PM</td>
                <td>Theoretical Computer Science (TCS) Round</td>
              </tr>
              <tr>
                <td>1:00 PM</td>
                <td>2:00 PM</td>
                <td>Team Round</td>
              </tr>
              <tr>
                <td>2:00 PM</td>
                <td>3:30 PM</td>
                <td>Lunch</td>
              </tr>
              <tr>
                <td>2:15 PM</td>
                <td>3:15 PM</td>
                <td>CMU Student Panel</td>
              </tr>
              <tr>
                <td>3:15 PM</td>
                <td>3:20 PM</td>
                <td>Join your assigned Zoom meeting.</td>
              </tr>
              <tr>
                <td>3:30 PM</td>
                <td>4:30 PM</td>
                <td>Algebra and Number Theory Round</td>
              </tr>
              <tr>
                <td>4:45 PM</td>
                <td>5:45 PM</td>
                <td>Geometry Round</td>
              </tr>
              <tr>
                <td>6:00 PM</td>
                <td>7:00 PM</td>
                <td>Combinatorics and Computer Science Round</td>
              </tr>
              <tr>
                <td>7:15 PM</td>
                <td>8:15 PM</td>
                <td>Guest Speaker</td>
              </tr>
              <tr>
                <td>8:30 PM</td>
                <td>9:00 PM</td>
                <td>Closing Ceremony</td>
              </tr>
            </tbody>
        </table>

        <h2 class="mb-3">Thursday Mini Events (February 25th)</h2>
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Start</th>
                <th>End</th>
                <th>Event</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>6:00 PM</td>
                <td>7:00 PM</td>
                <td>IMC Info Session and Market Making Game</td>
              </tr>
              <tr>
                <td>8:00 PM</td>
                <td>9:30 PM</td>
                <td>SLINGSHOT: A sneak peak into the world of CS</td>
              </tr>
            </tbody>
        </table>


        <h2 class="mb-3">Friday Mini Events (February 26th)</h2>
        <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th>Start</th>
                <th>End</th>
                <th>Event</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>6:00 PM</td>
                <td>7:00 PM</td>
                <td>Function Guessing Game</td>
              </tr>
              <tr>
                <td>7:00 PM</td>
                <td>8:00 PM</td>
                <td>Trivia Tournament, Integration Bee</td>
              </tr>
              <tr>
                <td>8:00 PM</td>
                <td>9:00 PM</td>
                <td>Bullet Chess, Tetris Tournament</td>
              </tr>
              <tr>
                <td>9:00 PM</td>
                <td>10:00 PM</td>
                <td>Virtual Escape Room</td>
              </tr>
            </tbody>
        </table>


    </div>
    <div class="col-12 col-md-auto">
        {% include 'includes/important_dates.html' %}
    </div>
</div>
{% endblock %}
