{% extends 'base.html' %}

{% block content %}

<p class="display-4">Math Contest Format</p>
<hr class="red_line"/>

<div class="row mb-4">
    <div class="col">
        <p>The contest consists of five rounds: the TCS round, team round, and three individual rounds (Algebra/NT, Geometry, Combo/CS).</p>

        <h3>TCS Round (new!)</h3>
        <p>In the Theoretical Computer Science (TCS) Round, you will come up an algorithm that represents your best possible solution. Here, "best" is defined differently for each problem - it could be the number of moves that your algorithm makes, or the number of points it earns.</p>

        <p>This is a proof-based round, so you will also need to prove the correctness of your algorithm. This means proving that it always solves the given problem, as well as proving that it attains the claimed bound. You will get a higher score for proving a better bound, according to a pre-defined rubric.</p>

        <p>You'll be working with your team to solve 3 problems in 90 minutes. You can see the <a href="{% url 'math_sample_problems' %}>">sample problem</a> for a good example of what you'll need to do. No coding experience is required, only algorithmic thinking!</a>

        <h3>Team Round</h3>
        <p>The team round consists of 15 short-answer problems, which you have 60 minutes to solve. The problems will be taken from a variety of subjects, and you can collaborate with your entire team (in a Zoom breakout room) to solve them.</p>

        <h3>Individual Round</h3>
        <p>There will be 3 individual rounds, organized by subject: Algebra and Number Theory, Geometry, and Combinatorics and Computer Science. You'll have 60 minutes to solve 8 short-answer problems.</p>

        <p>Each student will take all 3 individual rounds, and can choose between divisions 1 and 2 - see details below.</p>

        <h3 id="divisions">Divisions (new!)</h3>
        <p>For each individual round, you can choose to take the Division 1 or Division 2 version of the test. Division 1 problems will be harder, but you will earn more points if you manage to solve them.</p>

        <p>You can choose between Division 1 and 2 for each subject separately. For example, someone who is especially weak at Geometry but strong at the other subjects might choose to take Division 2 Geometry and Division 1 Algebra/NT and Combo/CS. To choose a division, go to the <a href="{% url 'contest_list' %}">contests page</a> and click on your team.</p>

        <p>You can expect Division 1 to be around the same difficulty as previous CMIMC individual tests, while Division 2's difficulty range covers the easier half of each test (e.g. problems 1-5 on a 10-problem test). To account for this fact, Division 2 problem weights will be scaled down by a factor of 0.5</p>
    </div>

    <div class="col-12 col-md-auto">
        {% include 'includes/important_dates.html' %}
    </div>
</div>

{% endblock %}

