{% extends 'base.html' %}

{% block content %}



<p class="display-3">Mini Events</p>
<hr class="red_line"/>
<p>Before and during the competitions, we will be hosting a few fun and interactive mini events! These mini events are a great way for you to interact and meet new people and competitors from all around the world as well as learn more about the many amazing things that Carnegie Mellon has to offer. Descriptions of the mini events are below. Come join us for the many fun mini events we have and register below. Make sure to register below! We are excited to see you there.</p>

<a class="btn btn-primary stretched-link" href="https://forms.gle/UVv8pvF6w9kZHw418">Register Here</a> </br> </br>

We will be hosting them at the following times and dates (all times are in ET):
<div class="row">
    <div class="card col-auto mt-4 mr-4 mb-4">
        <div class="card-body">
            <h2 class="card-title">Friday January 29th, 2021</h2>
            <ul>
                <li>5-6pm Tetris Tournament</li>
                <li>6-7pm Trivia Game</li>
            </ul>

        </div>
    </div>
    <div class="card col-auto mt-4 mr-4 mb-4">
        <div class="card-body">
            <h2 class="card-title">Saturday January 29th, 2021</h2>
            <ul>
                <li>6-7pm CMU Student Panel</li>
                <li>6-7pm CMU Faculty Speaker - TBA</li>
            </ul>

        </div>
    </div>
</div>

<h1 class="mt-4 mb-4">Event Descriptions:</h1>


    <h2>CMU Faculty Speaker Description</h2>
    <p>TBA – We will release details for this event soon – This is a great event to learn about interesting math/cs topics from CMU professors and network. </p>

    <h2>CMU Student Panel</h2>
    <p>During this event, you will have the opportunity to ask 4-5 current CMU students about CMU student life and any questions they have. Some topics that we will cover are aspects about academics, student organizations, networking, and career fairs.</p>
    <h2>Tetris Tournament:</h2>
    <p>This event is free and will be hosted on Tetr.io. It will be hosted on a battle royale format where everyone joins a room and competes against each other. We will have 5 rounds, and the top 4 people will be allowed to play in a tournament for prizes. Other people can continue to play or watch these 1v1s. Make sure to register with the link above!</p>
    <a href="https://docs.google.com/document/d/1wure6UnXadqR7vzDj3faEGqyKU44FLwgXOBOIc69p88/edit?usp=sharing">Tetr.io setup doc</a></br> </br>
    <h2>Trivia Tournament</h2>
    <p>This event is a team trivia event where teams of 4-6 people will work together to solve open-ended trivia questions. The teams can be made beforehand or during the event. There will be two rounds. The first round is a picture-based round, and the second round is an identification round based on a short description. There will be prizes for the top team! Make sure to register and indicate any preferences for team members using the link above!</p>



{% endblock %}

