{% extends 'base.html' %}

{% block content %}

<p class="display-4">Mini Events</p>
<hr class="red_line"/>
<p>We will be hosting fun and interactive mini events before and after the competition! These mini events are a great way to meet new people and interact with competitors from all around the world, as well as learn more about the amazing things that Carnegie Mellon has to offer. Come join us for lots of fun mini events by registering below! We're excited to see you there.</p>

<a class="btn btn-primary mb-5" href="https://forms.gle/UVv8pvF6w9kZHw418" target="_blank" rel="noopener noreferrer">Register Here!</a>

<h1 class="mb-4">Event Descriptions</h1>
<hr class="red_line"/>
<h3>Tetris Tournament</h3>
<p style="font-style: italic">Friday, January 29th, 5-6PM</p>
<p class="mb-4">This event will be hosted as a battle royale on <a href="https://tetr.io/" target="_blank" rel="noopener noreferrer">Tetr.io</a> where everyone joins a room and competes against each other. We will have 5 rounds, and the top 4 people will be allowed to play in a tournament for prizes! Other people can continue to play or watch these 1v1s. Make sure to register with the button above! Also see this <a href="https://docs.google.com/document/d/1wure6UnXadqR7vzDj3faEGqyKU44FLwgXOBOIc69p88/edit?usp=sharing" target="_blank" rel="noopener noreferrer">tetr.io setup doc</a>.</br>

<h3>Trivia Game</h3>
<p style="font-style: italic">Friday, January 29th, 6-7PM</p>
<p class="mb-4">This is a team trivia event where teams of 4-6 people will work together to solve open-ended trivia questions. Teams can be made beforehand or during the event. There will be two rounds: a picture-based round, and an identification round based on a short description. There will be prizes for the top team! Make sure to register and indicate any preferences for team members by clicking the button above!</p>

<h3>Jane Street Estimation</h3>
<p style="font-style: italic">Friday, January 29th, 7-8PM</p>
<p class="mb-4">The Estimathon is a team-based contest that combines trivia, game theory, and mathematical thinking. Teams have 45-60 minutes to work on a set of 13 estimation problems, the winning team being the one with the best set of estimates. You will receive an email from Jane Street about how to participate.</p>

<h3>Rabble Rooms: The Lost Temple (Virtual Escape Room)</h3>
<p style="font-style: italic">Friday, January 29th, 8:30-9:30 PM</p>
<p class="mb-4">Come explore the ruins of a powerful ancient civilization and uncover their lost secret. You will compete in teams of up to six players to unravel a compelling mystery in this Rabble Rooms virtual puzzle solving experience. Register with the button above!</p>

<h3>CMU Student Panel</h3>
<p style="font-style: italic">Saturday, January 30th, 6-7PM</p>
<p class="mb-4">During this event, you will have the opportunity to ask 4-5 current CMU students about CMU student life and any questions they have. Some of the topics we will cover are academics, student organizations, networking, and career fairs. No registration is necessary, just join the Zoom meeting when it begins!</p>

{% endblock %}

