{% extends 'base.html' %}

{% block content %}

<p class="display-4">Programming Contest Format</p>
<hr class="red_line"/>

<div class="row mb-4">
    <div class="col">
        <h1>Rounds</h1>
        <h5>AI Round</h5>
        <p>
            In the AI Round, you and your team write programs which play mini games (such as tic-tac-toe) against other teams. Every 5 minutes (after a 30 minute grace period), your most recent submission will be run against the programs of the other teams, and your scores will be updated on a live leaderboard. You'll be able to view your games and update your strategies accordingly! You will have 3 hours to write and improve your code for 3 different mini games. All code should be written in Python 3.
        </p>
        <h5>Optimization Round</h5>
        <p>
            In the Optimization Round, you and your team will work on 3 optimization-based problems. These problems are not intended to be solved perfectly - instead, you will be competing against other teams to get the closest approximation to an optimal solution. These problems will have a mathy flair and require some computational tools/thinking to get a decent answer. You will have 3 hours to gradually optimize your solutions. This round will have 3 problems, each with different test cases. Your score for each problem will be determined by your best performing submission, and displayed on a live leaderboard. You can use any programming language for this round, since you will only be submitting a text output.
        </p>
        <p>For both rounds, we will provide starter code to help you get started on each of the problems.</p>
    </div>


    <div class="col-12 col-md-auto">
        {% include 'includes/important_dates.html' %}
    </div>
</div>

{% endblock %}

