{% extends 'base.html' %}

{% block content %}
<p class="display-4">How to Register</p>
<hr class="red_line"/>


<div class="row">
    <div class="col"> 
        <p>All students will need an account on this website, which they use to submit their solutions on the day of the contest. Only one person (either a student or coach) needs to create the team.</p>

        <h2>For Students</h2>
        <ol>
            <li><a href="{% url 'signup' %}">Create an account</a> and make sure to select 'Contestant' when signing up.</li>
            <li>To join an existing team, use their invite link (then skip to step 6). To start your own team, follow steps 3-5.</li>
            <li>Go to <a href="{% url 'contest_list' %}">{{ request.scheme }}://{{ request.get_host }}{% url 'contest_list' %}</a> and select the contest you want to register for.</li>
            <li>Choose a team name.</li>
            <li>Invite other members to your team with the given invite link.</li>
            <li>Make sure each team member fills out the <a href="https://drive.google.com/uc?export=download&id=1TmXiSWRIakw2X6WD7H8MaOACds16AD0D">waiver</a> and submits it via <a href="https://docs.google.com/forms/d/e/1FAIpQLScfpAsNWhReh-JsWDQ7M8k8490jzyC65cv5h4_R9YiQ-KzBng/viewform" target='_blank' rel='noopener noreferrer'>this form</a> before February 23rd.</li>
        </ol>

        <h2>For Coaches</h2>
        <ol>
            <li><a href="{% url 'signup' %}">Create an account</a> and make sure to select 'Coach' when signing up.</li>
            <li>Go to <a href="{% url 'contest_list' %}">{{ request.scheme }}://{{ request.get_host }}{% url 'contest_list' %}</a> and select the contest you want to register for.</li>
            <li>Choose a team name</li>
            <li>Invite students to your team with the given invite link.</li>
            <li>Repeat steps 2-4 for each team you want to create.</li>
            <li>Make sure each team member fills out the <a href="https://drive.google.com/uc?export=download&id=1TmXiSWRIakw2X6WD7H8MaOACds16AD0D">waiver</a> and submits it via <a href="https://docs.google.com/forms/d/e/1FAIpQLScfpAsNWhReh-JsWDQ7M8k8490jzyC65cv5h4_R9YiQ-KzBng/viewform" target='_blank' rel='noopener noreferrer'>this form</a> before February 23rd.</li>
        </ol>
    </div>

    <div class="col-12 col-md-auto">
        {% include 'includes/important_dates.html' %}
    </div>
</div>
{% endblock %}

