{% extends 'base.html' %}

{% block content %}
<p class="display-4">Programming Resources</p>
<hr class="red_line"/>

<div class="row">
    <div class="col">
        <h2>Diversity and Inclusion</h2>
        <p>CMIMC is committed to inclusivity and increasing the diversity of our competition. We recognize that math competitions lack in both of these regards and thus we will constantly make an active effort to bring out resources in order to help increase accessibility. Below you will find these resources but please note that you can also reach out to us directly to best fit your needs.</p>

        <ul>
            <li><a href="https://www.blackgirlscode.com/" target="_blank" rel="noopener noreferrer">Black Girls Code</a></li>
            <li><a href="https://women.acm.org/" target="_blank" rel="noopener noreferrer">ACM-W</a></li>
            <li><a href="https://girlswhocode.com/" target="_blank" rel="noopener noreferrer">Girls Who Code</a></li>
            <li><a href="https://girldevelopit.com/" target="_blank" rel="noopener noreferrer">Girl Develop It</a></li>
            <li><a href="http://girlgeekdinners.com/" target="_blank" rel="noopener noreferrer">Girl Geek Dinners</a></li>
            <li><a href="https://www.wigraph.org/" target="_blank" rel="noopener noreferrer">Women in Graphics Research</a></li>
            <li><a href="https://rewritingthecode.org/" target="_blank" rel="noopener noreferrer">Rewriting the Code</a></li>
            <li><a href="https://www.cmu.edu/pre-college/academic-programs/sams.html" target="_blank" rel="noopener noreferrer">CMU Summer Academy for Math and Science</a></li>
        </ul>

        <p>Everyone should feel welcome to participate and contribute to CMIMC. CMIMC is committed to fostering an environment centered around encouraging new ideas and viewpoints regardless of background. We value perspectives from all backgrounds and experiences and hope that everyone embraces our diversity. Actions infringing on these beliefs will not be tolerated.</p>

        <h2>Competitive Programming Sites</h2>
        <ul>
            <li><a href="http://www.usaco.org/index.php?page=resources" target="_blank" rel="noopener noreferrer">USACO Resources Page</a></li>
            <li><a href="https://codeforces.com/" target="_blank" rel="noopener noreferrer">Codeforces</a></li>
            <li><a href="https://codingcompetitions.withgoogle.com/hashcode/" target="_blank" rel="noopener noreferrer">Google Hashcode</a></li>
            <li><a href="https://hspt.ucfprogrammingteam.org/" target="_blank" rel="noopener noreferrer">University of Central Florida High School Programming Tournament</a></li>
            <li><a href="https://vthscontest.cs.cloud.vt.edu/" target="_blank" rel="noopener noreferrer">Virginia Tech High School Competition</a></li>
            <li><a href="https://pclassic.org/" target="_blank" rel="noopener noreferrer">Philadelphia Classic</a></li>
            <li><a href="https://www.dropbox.com/s/z2lur71042pjaet/guide.pdf" target="_blank" rel="noopener noreferrer">Crash Course Coding Companion</a></li>
            <li><a href="https://cses.fi/book/book.pdf" target="_blank" rel="noopener noreferrer">Competitive Programmer’s Handbook</a></li>

        </ul>

        <p>The USA Computing Olympiad website also has a list of resources to help you get started at various stages of programming experience. They also run their own programming contest.</p>
    </div>

    <div class="col-12 col-md-auto">
        {% include 'includes/important_dates.html' %}
    </div>
</div>
{% endblock %}

