{% extends 'base.html' %}

{% block content %}
<h1>Frequently Asked Questions</h1>
<p>
    <b>Q:</b> How can we request a waiver for the registration fee? <br>
    <b>A:</b>
</p>
<p>
    <b>Q:</b> How will the competition be proctored? <br>
    <b>A:</b> 
</p>
<p>
    <b>Q:</b> How will t-shirts and awards be distributed? <br>
    <b>A:</b> One person per team should provide an email/mailing address to which swag and awards will be mailed.
</p>
<p>
    <b>Q:</b> Do we still need one chaperone per team? <br>
    <b>A:</b>  
</p>
<p>
    <b>Q:</b> How will T-shirts be distributed and how much do they cost?<br>
    <b>A:</b> 
</p>
<p>
    <b>Q:</b> Am I required to have my video on during each round? <br>
    <b>A:</b> Yes! During the Individual Rounds for CMIMC Math, your video must show your hands and work area. If possible, try to include your face as well, but your hands must always be in the frame.
</p>
<p>
    <b>Q:</b> What is the difference between the two divisions of the math competition? <br>
    <b>A:</b> The only difference is that the individual rounds of different divisions will consists of different problems. The rounds are weighted differently when individual scores in calculating the team aggregate score.
</p>
<p>
    <b>Q:</b> Can we have a team containing people in both divisions? <br>
    <b>A:</b> Yes. However, scores in the harder division will receive more weight when individual scores are used to calculate the team aggregate score.
</p>
<br>
<br>

{% endblock %}

