{% extends 'base.html' %}
{% load static %}

{% block content %}

<p class="display-3">FAQ</p>
<hr class="red_line"/>

<div class="myaccordion">
    <div class="myaccordion-item">
        <button aria-expanded="false" data-target="content-1">
            When is the programming contest?
        </button>
        <div class="myaccordion-content" id="content-1">
            <p>CMIMC Programming 2021 will be on January 30th, 2021, from 10AM to 7PM Eastern Time.</p>
        </div>
    </div>
    <div class="myaccordion-item">
        <button aria-expanded="false" data-target="content-2">
            How do I register?
        </button>
        <div class="myaccordion-content" id="content-2">
            <p>Follow the registration instructions <a href="{% url 'reg_info' %}">here</a>.</p>
        </div>
    </div>
    <div class="myaccordion-item">
        <button aria-expanded="false" data-target="content-3">
            Who can participate?
        </button>
        <div class="myaccordion-content" id="content-3">
            <p>All high school students can participate in the contest.</p>
        </div>
    </div>
    <div class="myaccordion-item">
        <button aria-expanded="false" data-target="content-4">
            How many people per team?
        </button>
        <div class="myaccordion-content" id="content-4">
            <p>Teams consist of 1-3 students.</p>
        </div>
    </div>
    <div class="myaccordion-item">
        <button aria-expanded="false" data-target="content-5">
            Can I participate individually?
        </button>
        <div class="myaccordion-content" id="content-5">
            <p>You can form a 1-person team, but you may be at a disadvantage compared to full teams.</p>
        </div>
    </div>
    <div class="myaccordion-item">
        <button aria-expanded="false" data-target="content-6">
            Is there a registration fee?
        </button>
        <div class="myaccordion-content" id="content-6">
            <p>No, the contest is free!</p>
        </div>
    </div>
    <div class="myaccordion-item">
        <button aria-expanded="false" data-target="content-7">
            Are there any prizes for winning?
        </button>
        <div class="myaccordion-content" id="content-7">
            <p>Unfortunately there are no prizes for this year's contest, but we may award prizes in future contests.</p>
        </div>
    </div>
    <div class="myaccordion-item">
        <button aria-expanded="false" data-target="content-8">
            My team is already registered, but we need to change our team members!
        </button>
        <div class="myaccordion-content" id="content-8">
            <p>Contact us at <a href="mailto:cmimc@math.cmu.edu">cmimc@math.cmu.edu</a>, and we can fix it for you.</p>
        </div>
    </div>
    <div class="myaccordion-item">
        <button aria-expanded="false" data-target="content-9">
            I forgot my login password.
        </button>
        <div class="myaccordion-content" id="content-9">
            <p>Contact us at <a href="mailto:cmimc@math.cmu.edu">cmimc@math.cmu.edu</a>, and we'll reset your password.</p>
        </div>
    </div>
    <div class="myaccordion-item">
        <button aria-expanded="false" data-target="content-10">
            How will the contest be proctored?
        </button>
        <div class="myaccordion-content" id="content-10">
            <p>It will be proctored via Discord. Students will be added to a Discord channel and will have a designated proctor who will answer questions as they come up.</p>
        </div>
    </div>
    <div class="myaccordion-item">
        <button aria-expanded="false" data-target="content-11">
            Who runs the CMIMC?
        </button>
        <div class="myaccordion-content" id="content-11">
            <p>CMIMC is run by Carnegie Mellon students.</p>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/accordion.js' %}"></script>
{% endblock %}
