{% extends 'base.html' %}

{% block content %}

    <p class="display-3">Information</p>
        <hr class="red_line"/>

        <div class="row justify-content-between">
            <div class="col-9">
                <h2>Rounds</h2>
                <div style="margin-top: 10px">
                    <div class="card" style="width: 18rem; margin-inside: 20px;">
                        <div class="card-body">
                            <h5 class="card-title">Round 1</h5>
                            <p>Hello stuff.</p>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-3" style="border:1px solid black; border-radius: 20px; background-color: #8888FF">
                <h2 style="color: black; margin-top: 10px">Important Dates </h2>
                <div class="card"
                     style="width: 16rem; background-color: #EEEEEE; margin-bottom: 10px; border-radius: 15px">
                    <div class="card-body">
                        <h5 class="card-title" style="color: darkred">Registration Deadline</h5>
                        <h6 class="card-subtitle mb-2" style="color: darkred">November 20th 2020</h6>
                        <a href="#" class="card-link">Register Here</a>
                    </div>
                </div>
                <div class="card"
                     style="width: 16rem; background-color: #EEEEEE; margin-bottom: 10px; border-radius: 15px">
                    <div class="card-body">
                        <h5 class="card-title">Programming Contest</h5>
                        <h6 class="card-subtitle mb-2">December 16th 2020</h6>
                        <a href="#" class="card-link">Start Here</a>
                    </div>
                </div>
                <div class="card"
                     style="width: 16rem; background-color: #EEEEEE; margin-bottom: 10px; border-radius: 15px">
                    <div class="card-body">
                        <h5 class="card-title" style="color: darkred">Another Deadline</h5>
                        <h6 class="card-subtitle mb-2" style="color: darkred">December 16th 2020</h6>
                        <a href="#" class="card-link"> Do Here</a>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}
