{% extends 'base.html' %}

{% block content %}

    <div class="row justify-content-between">
            <div class="col-9">
                <h2>About Us</h2>
                Founded in 2016, The Carnegie Mellon Informatics and Mathematics Competition (CMIMC) is an annual Math and Computer Science competition that is entirely student runned by Carnegie Mellon University students. In Fall of 2020, CMIMC is introducing a programming competition as well which will focus on applications of creative problem solving to computer science.
Due to COVID-19, CMIMC Fall 2020 and Spring 2021 will be run entirely remotely.
            </div>


            <div class="col-3" style="border:1px solid black; border-radius: 20px; background-color: #8888FF; height: fit-content;">
                <h2 style="color: black; margin-top: 10px">Important Dates </h2>
                <div class="card"
                     style="width: 16rem; background-color: #EEEEEE; margin-bottom: 10px; border-radius: 15px">
                    <div class="card-body">
                        <h5 class="card-title" style="color: darkred">Registration Deadline</h5>
                        <h6 class="card-subtitle mb-2" style="color: darkred">January 16th 2021</h6>
                        <a href="#" class="card-link">Register Here</a>
                    </div>
                </div>
                <div class="card"
                     style="width: 16rem; background-color: #EEEEEE; margin-bottom: 10px; border-radius: 15px">
                    <div class="card-body">
                        <h5 class="card-title">Programming Contest</h5>
                        <h6 class="card-subtitle mb-2">January 30 2021</h6>
                        <a href="#" class="card-link">Start Here</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

