{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-7 col-md-5 col-xl-4">
        <form method="post" class="hide-asterisk mb-4">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </form>
        <p class="text-center text-muted" style="font-size: 0.9rem">Don't have an account? <a href="{% url 'signup' %}{% if next %}?next={{ next }}{% endif %}">Register here</a>!</p>
    </div>
</div>
{% endblock %}
