{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Tentative Schedule</h1>
    <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th>Event</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10:00-10:30 AM</td>
            <td>Opening, general contest information, FAQ, Discord rooms</td>
          </tr>
          <tr>
            <td>10:30 AM-12:30 PM</td>
            <td>AI Round</td>
          </tr>
          <tr>
            <td>12:30-3 PM</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td>3-6 PM</td>
            <td>Optimization Round</td>
          </tr>
          <tr>
            <td>6-7 PM</td>
            <td>Mini Events, Meet Sponsors</td>
          </tr>
          <tr>
            <td>7 PM</td>
            <td>Awards</td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock %}

