{% extends 'base.html' %}

{% block content %}
<div>
    <p class="display-3">Tentative Schedule</p>
    <hr class="red_line"/>
    <table class="table table-borderless table-hover mt-3">
        <thead>
          <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Event</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10:00 AM</td>
            <td>10:30 AM</td>
            <td>Opening, general contest information, FAQ, Discord rooms</td>
          </tr>
          <tr>
            <td>10:30 AM</td>
            <td>12:30 PM</td>
            <td>AI Round</td>
          </tr>
          <tr>
            <td>12:30 PM</td>
            <td>3:00 PM</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td>3:00 PM</td>
            <td>6:00 PM</td>
            <td>Optimization Round</td>
          </tr>
          <tr>
            <td>6:00 PM</td>
            <td>7:00 PM</td>
            <td>Mini Events, Meet Sponsors</td>
          </tr>
          <tr>
            <td>7:00 PM</td>
            <td>TBD</td>
            <td>Awards</td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock %}

