{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-6 col-xl-5">
        <form method="post" class="row hide-asterisk mb-4">
            {% csrf_token %}
            <div class="col-md-6">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.last_name|as_crispy_field }}
            </div>
            <div class="col-md-8">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.role|as_crispy_field }}
            </div>
            <div class="col-md-12">
                {{ form.password1|as_crispy_field }}
            </div>
            <div class="col-md-12">
                {{ form.password2|as_crispy_field }}
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </div>
        </form>
        <p class="text-center text-muted" style="font-size: 0.9rem">Already have an account? <a href="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}">Log in</a></p>
    </div>
</div>

{% endblock %}
