{% extends 'base.html' %}

{% block content %}
    <!-- <div class="row justify-content-between">
      <div class = "col-10">
          <h1>Submission For Problem {{ problem.problem_number }}</h1> </br>
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="codeText">Paste Code Here</label>
                <textarea class="form-control" name="codeText" rows="3" wrap = "off"></textarea>
              </div>
              <div class="form-group">
                <label for="codeFile">Example file input</label>
                <input type="file" class="form-control-file" name="codeFile">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>



      <div class = "col-2">
        <h2><a href="{% url 'exam_status' problem.exam_id %}" class="btn btn-info"> Back To Exam</a> </h2>
      </div>
    </div> -->

    <form action="" method="post">
        {% csrf_token %}
        <p>Code Here!</p>
        {{ form }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% for snippet in snippets %}
        <hr/>
        <pre>{{ snippet.text }}</pre>
    {% endfor %}
{% endblock %}
