{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h2>Team: {{ team.team_name }}</h2>
        {% if not team.is_registered %}
        <p>To invite new team members, send them this link: <a href="{{ invite_link }}">{{ invite_link }}</a>. They will need to log in with their own account.</p>
        {% endif %}
        {% if team.coach %}
        <h2>Coach: {{ team.coach }}</h2>
        {% endif %}

        <h2>Members ({{ team.mathletes.all|length }}/3)</h2> <!-- hardcoded -->
        {% if team.mathletes.all %}
            <ol>
            {% for mathlete in team.mathletes.all %} 
                <li>
                    {{ mathlete.user.preferred_name }}
                </li>
            {% endfor %}
            </ol>
        {% else %}
            <p>No team members yet</p>
        {% endif %}

        {% if team.is_registered %}
            <h2>Registered: <span class="text-success">Yes</span></h2>
        {% else %}
            <h2>Registered: <span class="text-danger">No</span></h2>
            <p>Once your team members are finalized, click the register button below. You must register by <span class="font-weight-bold">January 16th, 2021</span>.</p> <!-- hardcoded -->

            <form method="post">
                {% csrf_token %}
                <button type="submit" name="submit" class="btn btn-danger mr-3" value="leaveTeam">Leave Team</button>
                <button type="submit" name="submit" class="btn btn-success" value="register">Register</button>
            </form>
        {% endif %}
  </div>
</div>

{% endblock %}

